<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Node Requests</p>
                        <h3 class="card-title">00</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">calendar_today</i>
                            Over the last week
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <p class="card-category">Connected Nodes</p>
                        <h3 class="card-title"><span id="connectedNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>
                            00 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-server"></i>
                        </div>
                        <p class="card-category">Nodes on Console</p>
                        <h3 class="card-title"><span id="totalConsoleNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">devices</i> 00 Nodes Pending | 00 Nodes Hidden
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <p class="card-category">Nodes on Network</p>
                        <h3 class="card-title"><span id="totalNetworkNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">gps_fixed</i> Scanning IP Range: 00 - 00
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Inbound Requests</h4>
                        <p class="card-category">Number of requests received</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 00 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nodes Connected</h4>
                        <p class="card-category">Totals over the last 12 hours</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 00 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Outbound Requests</h4>
                        <p class="card-category">Number of requests sent</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 00 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title"><strong>General Node Population</strong></h4>
                        <p class="card-category">See the <strong><a href="/node/list">Node List</a></strong> tab for more details</p>
                    </div>
                    <div class="card-body row mt-3">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card bg-warning mt-0">
                                <div class="card-body">
                                    <h5 class="card-category card-category-social text-right">
                                        <i class="far fa-times-circle"></i> OFFLINE
                                    </h5>
                                    <h3 class="card-title mb-0">
                                        <a href="#pablo">NODE-KA8A67</a>
                                    </h3>
                                    <p>Node IP: 192.168.202.100</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                            <div class="card bg-success mt-0">
                                <div class="card-body">
                                    <h5 class="card-category card-category-social text-right">
                                        <i class="far fa-check-circle"></i> ONLINE
                                    </h5>
                                    <h3 class="card-title mb-0">
                                        <a href="#pablo">NODE-F9FALKJ</a>
                                    </h3>
                                    <p>Node IP: 192.168.202.100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %><script type="text/javascript" src="/static/js/lema-js/dashFunct.js"></script>
<script>
    document.ready = function () {
        dashDetails();
    }
</script>