<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Node Requests</p>
                        <h3 class="card-title"><span id="totalRequests"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">calendar_today</i>
                            Over the last week
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-project-diagram"></i>
                        </div>
                        <p class="card-category">Connected Nodes</p>
                        <h3 class="card-title"><span id="connectedNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="recentConnectWidget"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-server"></i>
                        </div>
                        <p class="card-category">Nodes on Console</p>
                        <h3 class="card-title"><span id="totalConsoleNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="totalConsoleNodes_Details"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-network-wired"></i>
                        </div>
                        <p class="card-category">Nodes on Network</p>
                        <h3 class="card-title"><span id="totalNetworkNodes"></span></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="scanRange"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Inbound Requests</h4>
                        <p class="card-category">Number of requests received</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="recentInbound"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Nodes Connected</h4>
                        <p class="card-category">Totals over the last 12 hours</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="recentConnectGraph"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Outbound Requests</h4>
                        <p class="card-category">Number of requests sent</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span id="recentOutbound"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title"><strong>General Node Population</strong></h4>
                        <p class="card-category">See the <strong><a href="/node/list">Node List</a></strong> tab for more details</p>
                    </div>
                    <div class="card-body row mt-3" id="nodePopulation"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %><script type="text/javascript" src="/static/js/lema-js/dashFunct.js"></script>
<script>
    document.ready = function () {
        dashDetails();
        setInterval(dashDetails, 60000)
    }
</script>