<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title p-0">
                                    <h4 class="card-title"><strong>Node List</strong></h4>
                                    <p class="card-category">Last Updated: #</p>
                                </span>
                                <ul class="nav nav-tabs justify-content-end" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" onclick="nodeAddSA()" data-toggle="tab">
                                            <i class="material-icons">library_add</i> Add Node
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="nodelist">
                            <thead class="text-success">
                                <th>NAME</th>
                                <th>IP</th>
                                <th>TYPE</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/lema-js/nodeFunct.js"></script>
<script>
    document.ready = function () {
        nodeList();
    }
</script>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %>