<% include ../partials/head.ejs %>
<% include ../partials/wrapper-top.ejs %>
<div class="content">
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</div>
<% include ../partials/wrapper-bottom.ejs %>
<% include ../partials/footer.ejs %>
<!--<script type="text/javascript" src="/static/js/lema-js/nodeFunct.js"></script>-->
<script>
    document.ready = function () {

    }
</script>